<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" >
    <parameter name="browser" value="firefox"></parameter>
    <parameter name="language" value="ar"></parameter>
    <test name="FirefoxTest" parallel="false">
        <classes>
            <class name="LoginEmiratsTest"></class>
        </classes>
    </test>
</suite>